          <div class="user_nav grid-6">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </div>
          <div class="container">
            <div class="col-xs-6 col-md-3">
              <h1><%= @player.player_name %> #<%= @player.backnumber%></h1>
              <td><%= @player.team %></td>
            </div>
            <div class="col-xs-6 col-md-3">
              <table>
                <tr>
                  <th>ポジション</th>
                  <td><%= @player.positions %></td>
                </tr>
                <tr>
                  <th>生年月日</th>
                  <td><%= @player.date_of_birth %></td>
                </tr>
                <tr>
                  <th>投/打</th>
                  <td><%= @player.throws %>/<%= @player.bats %></td>
                </tr>
                <th>身長</th>
                <td><%= @player.height %></td>
              </tr>
              <tr>
                <th>体重</th>
                <td><%= @player.weight %></td>
              </tr>
              <tr>
                <th>年俸</th>
                <td><%= @player.salary %></td>
              </tr>
            </table>
          </div>
        </div>