<h2>Player Profile</h2>
<hr noshade>
<div class="container">
<div class="col-xs-6 col-md-3">
  <table>
    <tr>
      <th>選手名</th>
      <td><%= @player.player_name %></td>
  </tr>
    <tr>
      <th>背番号</th>
      <td><%= @player.backnumber%></td>
    </tr>
    <tr>
      <th>チーム</th>
      <td>
        <%= @player.team %>
      </td>
    </tr>
    <tr>
      <th>ポジション</th>
      <td><%= @player.positions %></td>
    </tr>
    <tr>
      <th>生年月日</th>
      <td><%= @player.date_of_birth %></td>
    </tr>
    <tr>
      <th>投/打</th>
      <td><%= @player.throws %>/<%= @player.bats %></td>
    </tr>
    <th>身長</th>
    <td><%= @player.height %></td>
  </tr>
  <tr>
    <th>体重</th>
    <td><%= @player.weight %></td>
  </tr>
  <tr>
    <th>年俸</th>
    <td><%= @player.salary %></td>
  </tr>
</table>
</div>
</div>