<h2>Dashboard</h2>
<hr noshade>
<!-- table -->
<div class="table-responsive">
  <table class="table table-hover" >
    <thead>
      <tr class="active">
        <th>#</th>
        <th>PLAYER</th>
        <th>TEAM</th>
        <th>G</th>
        <th>PA</th>
        <th>HR</th>
        <th>R</th>
        <th>RBI</th>
        <th>SB</th>
        <th>BB%</th>
        <th>K%</th>
        <th>ISO</th>
        <th>BABIP</th>
        <th>AVG</th>
        <th>OBP</th>
        <th>SLG</th>
        <th>wOBA</th>
        <th>WRC+</th>
        <th>BsR</th>
        <th>Offence</th>
        <th>Deffence</th>
        <th>WAR</th>
      </tr>
    </thead>
    <tbody>
      <% @dashboards.each.with_index(1) do |dashboard, i| %>
      <tr>
        <td>
          <%= i %>
        </td>
        <td><a href="/players/<%= dashboard.player_id %>"><%= dashboard.player.player_name %></td></a>
        <td><%= dashboard.team %></td>
        <td><%= dashboard.game %></td>
        <td><%= dashboard.plate_appearance %></td>
        <td><%= dashboard.homerun %></td>
        <td><%= dashboard.run %></td>
        <td><%= dashboard.runs_batted_in %></td>
        <td><%= dashboard.stolen_base %></td>
        <td><%= number_to_percentage(dashboard.bb_persent, precision: 1 ) %></td>
        <td><%= number_to_percentage(dashboard.k_persent, precision: 1 ) %></td>
        <td><%= number_with_precision(dashboard.iso, precision: 3 ) %></td>
        <td><%= number_with_precision(dashboard.babip, precision: 3 ) %></td>
        <td><%= number_with_precision(dashboard.average, precision: 3 ) %></td>
        <td><%= number_with_precision(dashboard.obp, precision: 3 ) %></td>
        <td><%= number_with_precision(dashboard.slg, precision: 3 ) %></td>
        <td><%= number_with_precision(dashboard.woba, precision: 3 ) %></td>
        <td><%= dashboard.wrc_plus %></td>
        <td><%= dashboard.bsr %></td>
        <td><%= dashboard.offence %></td>
        <td><%= dashboard.deffence %></td>
        <td><%= dashboard.war %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div><!-- table-responsive -->